html, body {
    height: 100%;
    width: 100%;

    background-color: #eee;
    margin: 0 auto;
    font-family: 'Miriam Libre', sans-serif;
    color: #696969;
    padding-left: 1%;
    box-sizing: border-box;
}

header {
    padding-top: 20px;
}

header h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 8vw;
    text-transform: uppercase;
}

header h1 span {
    cursor: pointer;
}

header h1 span.selected {
    text-decoration: underline;
}

header h1 span:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    max-width: 1200px;
    /*padding: 10px;*/
    /*margin: 0 auto;*/
    margin-bottom: 150px;
}

article {
    padding: 20px;
    width: 285px;
    height: 285px;
    box-sizing: border-box;
    background-color: white;
    /*box-shadow: 2px 2px 5px 1px #d6d6d6;*/
    margin: 5px;

    display: none;
    /*transition: opacity 2s easeIn;*/
}

article.show {
    display: initial;
}

article.description {
    background-color: #696969;
    color: #eee;
}

article span {
    font-size: 3em;
    cursor: default;;
}
article span.link {
    cursor: pointer;
}

article span.link:hover {
    color: purple;
}

article span a {
    text-decoration: none;
    color: inherit;
}


aside {
    position: fixed;
    bottom: 5px;
    right: 10px;
    background-color: #eee;
    padding: 5px;
    border-left: 3px solid #696969;
}

aside h2 {
    margin-bottom: 0;
}

aside dt, aside dd {
    float: left;
    margin: 0 5px;
}

aside dt { clear:both }
aside dl { overflow: hidden; }

aside h4 {
    clear: both;
    text-align: right;
    font-weight: normal;
    padding-right: 10px;
    margin: 0;
}

aside a {
    color: inherit;
}
